:root {
    --page-color-blue: #2d5c88;
    --page-color-gray: #4e4e4e;
    --page-color-light-gray: #8e8e8e;
    --page-color-white: #ffffff;
}

body {
    font-family: Georgia;
    /* HEADER/FOOTER FIXED*/
    padding: 50px 5px;
}

@media screen and (max-width: 319px) {
    body {
        display: none;
    }    
}

/* HEADER */
header {
    background-color: var(--page-color-blue);
    color: var(--page-color-white);
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .search-container {
    display: flex;
    background-color: var(--page-color-white);
    border-radius: 2px;
    padding: 5px;
}

header .search-container input {
    border: none;
    outline: none;
}

header .search-container .search-icon {
    color: var(--page-color-gray);
    cursor: pointer;
    margin-right: 5px;
}
/* END HEADER */

/* MAIN */
main {
    display: grid;
    grid-template-columns: auto 200px;
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 680px) {
    main {
        display: block;
    }
}


main .links-column {
    padding: 0 0.5em;
}

main .links-column .links-section {
    background-color: lightgray;
    padding: 0.5em;
    position: sticky;
    top: 50px;
}

main .links-column .links-section label {
    text-align: center;
    display: block;
}

main .links-column .links-section a {
    color: black;
}

main .links-column figure {
    text-align: center;    
}

main .links-column figure img {
    width: 100%;
}

main .info-column {
    background-color: green;
}

#main-slider .main-slider-image {
    width: 100%;
}

#main-slider nav {
    display: flex;
}

#main-slider nav .thumbnail {
    margin-right: 2px;
    cursor: pointer;
}

#main-slider nav .thumbnail:last-of-type {
    margin-right: 0;
}

#main-slider nav .thumbnail img {
    margin-right: 2px;
    width: 100%;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
}

#cards-container .card {
    padding: 5px;
    margin: 5px;
    text-align: justify;
    background-color: lightgray;
    position: relative;
    flex: 0 1 calc(32% - 10px);
}

@media screen and (max-width: 840px) {
    #cards-container .card {
        flex: 0 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 500px) {
    #cards-container .card {
        flex: 0 1 100%;
    }
}

#cards-container .card:nth-child(3n){
    margin-right: 0;
}

#cards-container .card img {
    width: 100%;
}

#cards-container .card .delete-button {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    cursor: pointer;
}

#cards-container .card .delete-button:hover,
#cards-container .card .add-button:hover {
    transform: scale(1.2);
    transition: 0.1s transform;
}

#cards-container .card .add-button {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    cursor: pointer;
}


/* END MAIN */

/* FOOTER */
footer {
    background-color: var(--page-color-gray);
    color: var(--page-color-light-gray);
    text-align: center;
    padding: 0.5em;

    /*For stick to bottom footer*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/* END FOOTER */